input {
    background-color : #D28888;
    background-position : center top;
    position : relative;
    border : none;
    bottom : 360px;
    height : 38px;
    left : 576px;
    width : 330px;
    color : #fff;
    cursor : pointer;
}
#result {
    position : relative;
    border : none;
    bottom : 360px;
    height : 38px;
    left : 576px;
    width : 330px;
}
#slot-machine {
    position : relative;
    background : transparent;
    width : 520px;
    height : 566px;
}
.slot {
    position : absolute;
    background : url(http://s17.postimg.org/vz8yabt1b/slots.png) repeat-y transparent;
    width : 72px;
    height : 80px;
    top : 94px;
}
.slot#one {
    background-position : 0 500px;
    left : 574px;
}
.slot#two {
    background-position : 0 724px;
    left : 705px;
}
.slot#three {
    background-position : 0 1172px;
    left : 833px;
}